<a href="https://colab.research.google.com/github/asmaalhowaish11/asma-sWork/blob/main/Advanced_Python_Project_For_Masar_DS_asma_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loops
Here are some questions about loops and variants

Q1. using for loop



Q2. using while loop

##Q1.
Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any numbers that come after 52 in the sequence.



```
nums = [229, 792, 857, 579, 974, 346, 649, 454, 698, 347, 236, 297, 150, 698, 294, 663, 556, 712, 271, 283, 705, 347, 725, 716, 486, 642, 644, 728, 409, 208, 421, 799, 52, 796, 441, 374, 60, 948, 143, 698, 934, 561, 917, 678, 666, 476, 23, 743, 836, 655, 971, 372, 215, 567, 462, 127, 208, 683, 618, 96, 329, 92, 934, 992, 120, 944, 605, 78, 87, 216, 62, 919, 462, 597, 671, 493, 540, 451, 885, 375, 606, 90, 607, 443, 240, 708, 674, 111, 165, 858, 799, 39, 383, 602, 695, 689, 726, 344, 2, 335]

```

In [4]:
nums = [229, 792, 857, 579, 974, 346, 649, 454, 698, 347, 236, 297, 150, 698, 294, 663, 556, 712, 271, 283, 705, 347, 725, 716, 486, 642, 644, 728, 409, 208, 421, 799, 52, 796, 441, 374, 60, 948, 143, 698, 934, 561, 917, 678, 666, 476, 23, 743, 836, 655, 971, 372, 215, 567, 462, 127, 208, 683, 618, 96, 329, 92, 934, 992, 120, 944, 605, 78, 87, 216, 62, 919, 462, 597, 671, 493, 540, 451, 885, 375, 606, 90, 607, 443, 240, 708, 674, 111, 165, 858, 799, 39, 383, 602, 695, 689, 726, 344, 2, 335]

for i in nums: # or you can use index but you have to get the len, i.e., l = len(nums)
  if i == 52:
    print(i)
    break
  if i % 2 == 0:
   print(i)

792
974
346
454
698
236
150
698
294
556
712
716
486
642
644
728
208
52

##Q2.

# Prints out 0,1,2,3,4,...,9 and then it prints "count value reached 10"

Hint: use "while" loop

In [91]:
#start by defining and counter
for i in range(0,10):
  print(i)
print('count value reached 10')

  #your code goes here

0
1
2
3
4
5
6
7
8
9
count value reached 10

# Function

##Q1.

Write a Python function that takes a list and returns a new list with distinct elements from the first list.



```
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]
```

In [17]:
samplelist = [1,2,3,3,3,3,4,5]

def uniq(list_given):
  newlist=[]
  for i in list_given:
    while i not in newlist:
      newlist.append(i)
    return newlist

print(uniq(samplelist))

[1]

In [10]:
SampleList = [1,2,3,3,3,3,4,5]

def uniq(list_given):


  newList=[]
  for i in list_given:
    while i not in newList:
      newList.append(i)
  return newList

print(uniq(SampleList))

[1, 2, 3, 4, 5]

##Q2.
function to find the factorial of a number


Hint: don't use external library


Hint: think about for loop or while loop

In [33]:
#start defining the function
def fact(n):
  if n == 0:
    return 1
  else:
    return n*fact(n-1)
print(fact(5))

  # your code is here

120

#Break

Try to run this code

```
def f(x):
    if x > 0:
        print("Only printed when x is positive; x =", x)
        print("Also only printed when x is positive; x =", x)
    print("Always printed, regardless of x's value; x =", x)

f(1)
f(0)
```

In [34]:
def f(x):
    if x > 0:
        print("Only printed when x is positive; x =", x)
        print("Also only printed when x is positive; x =", x)
    print("Always printed, regardless of x's value; x =", x)

f(1)
f(0)

Only printed when x is positive; x = 1
Also only printed when x is positive; x = 1
Always printed, regardless of x's value; x = 1
Always printed, regardless of x's value; x = 0

#using Numpy and zip

Imagine that you have a list of numbers from 1 to 26
and we have another list that contains the alphabets
letters = ['a', 'b',...,'z']

I want to you to make a dictionary that map between the key and the corresponding letter

hint: use Numpy and zip function (and try to find another library for the letters)




```
#sample code might be like this
#try to solve it by yourself first
import numpy as np
a = np.arange(1,27)
a = list(a)
import string
letters_list = list(string.ascii_lowercase)
mapping = dict(zip(a, letters_list))
mapping
```

In [35]:
import numpy as np
a = np.arange(1,27)
a = list(a)
import string
letters_list = list(string.ascii_lowercase)
mapping = dict(zip(a, letters_list))
mapping

{1: 'a',
 2: 'b',
 3: 'c',
 4: 'd',
 5: 'e',
 6: 'f',
 7: 'g',
 8: 'h',
 9: 'i',
 10: 'j',
 11: 'k',
 12: 'l',
 13: 'm',
 14: 'n',
 15: 'o',
 16: 'p',
 17: 'q',
 18: 'r',
 19: 's',
 20: 't',
 21: 'u',
 22: 'v',
 23: 'w',
 24: 'x',
 25: 'y',
 26: 'z'}

#Loops and List Comprehensions

List comprehensions combined with functions like min, max, and sum can lead to impressive one-line solutions for problems that would otherwise require several lines of code.

For example, compare the following two cells of code that do the same thing.



```
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative
```
Here's a solution using a list comprehension:



```
def count_negatives(nums):
    return len([num for num in nums if num < 0])
```

In [37]:
def count_negatives(nums):
    nums=([5, -1, -2, 0, 3])
    return len([num for num in nums if num < 0])
print(count_negatives(nums))

2

#Intro to Data Analysis and ML

#1 Importing data and packages

copy this code and try to understand the syntax



```
#استخدام بايثون في المشين ليرنينج

import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()

# Create a DataFrame using the data and feature_names
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# Add the target column to the DataFrame
iris_df['target'] = iris.target

# Display the DataFrame
print(iris_df)
```

In [38]:
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()

# Create a DataFrame using the data and feature_names
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# Add the target column to the DataFrame
iris_df['target'] = iris.target

# Display the DataFrame
print(iris_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns]

#2 Data Visualization



```
import seaborn as sns
import matplotlib.pyplot as plt

# Load the Iris dataset
iris = sns.load_dataset("iris")

# Pairplot: Scatterplot matrix
sns.pairplot(iris, hue="species", palette="husl", markers=["o", "s", "D"])
plt.suptitle("Pairplot of Iris Dataset", y=1.02)
plt.show()

# Boxplot: Distribution of features by species
plt.figure(figsize=(12, 6))
plt.subplot(2, 2, 1)
sns.boxplot(x="species", y="sepal_length", data=iris)
plt.subplot(2, 2, 2)
sns.boxplot(x="species", y="sepal_width", data=iris)
plt.subplot(2, 2, 3)
sns.boxplot(x="species", y="petal_length", data=iris)
plt.subplot(2, 2, 4)
sns.boxplot(x="species", y="petal_width", data=iris)
plt.suptitle("Boxplots of Iris Features by Species", y=1.02)
plt.show()

# Violin plot: Distribution of features by species
plt.figure(figsize=(12, 6))
plt.subplot(2, 2, 1)
sns.violinplot(x="species", y="sepal_length", data=iris)
plt.subplot(2, 2, 2)
sns.violinplot(x="species", y="sepal_width", data=iris)
plt.subplot(2, 2, 3)
sns.violinplot(x="species", y="petal_length", data=iris)
plt.subplot(2, 2, 4)
sns.violinplot(x="species", y="petal_width", data=iris)
plt.suptitle("Violin Plots of Iris Features by Species", y=1.02)
plt.show()

# Heatmap: Correlation matrix
correlation_matrix = iris.corr()
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", linewidths=.5)
plt.title("Correlation Matrix of Iris Features")
plt.show()
```

In [ ]:
#paste the code here

#Quiz

Write a Python function called even_squares that takes a list of integers as input and returns a new list containing the squares of even numbers from the original list.

Hint: work SMARTER not harder



```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = even_squares(numbers)
print(result)

[4, 16, 36, 64, 100]


```

In [ ]:
#your code goes here

#Thanks

Best wishes,

Abdullah

```
# This is formatted as code
```